<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :content, :html => '' %> <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" title="Create a bulleted list with your central topic at the highest level. Create sub bullets by indenting for subsequent topics and subtopics"></span><br>
    <%= f.cktext_area :content, :class => 'form-control', ckeditor: { toolbar: 'custom'} %>
  </div>
  <div class="row">
	  <div class="col-lg-4">
		  <div class="field form-group">
			<%= f.label :background_color %><br>
			<%= f.text_field :background_color, :class => 'mini-colors form-control' %>
		  </div>
	  </div>
	  <div class="col-lg-4">
		<div class="field form-group">
		<%= f.label :node_background_color %><br>
		<%= f.text_field :node_background_color, :class => 'mini-colors form-control' %>
		</div>
	  </div>
	  <div class="col-lg-4">
		<div class="field form-group">
		<%= f.label :node_stroke_color %><br>
		<%= f.text_field :node_stroke_color, :class => 'mini-colors form-control' %>
		</div>
	  </div>
  </div>  
  <div class="field form-group">
    <%= f.label :public %><br>
    <%= f.check_box :is_public %>
  </div> 
  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary', :id => 'save' %>
  </div>
<% end %>
