<h1>Public Maps</h1>

	<%= form_tag(maps_path, :method => "get", id: "search-form") do %>
	  <div class="field form-group">
		  <%= text_field_tag :search, params[:search], placeholder: "Search Maps", :class => 'form-control', :id => 'maps-search' %>
	  </div>
	  <div class="field form-group">		  
		  <%= submit_tag "Search", :class => 'btn btn-primary', :id => 'maps-search-submit-btn' %>
	  </div>
	<% end %>

	
	<% @public.limit(8).each_slice(4) do |map| %>
	
	  <div class='row'>
	  
		<% map.each do |map| %>
		
			<div class="col-lg-3 map-container">
				<div class="map-inner">
					<div><%= map.name %></div>
					<%= link_to 'Show', map, :class => 'btn btn-success btn-xs' %> 
				</div>
				<div class="map-inner-username">by: <%= map.user.username %></div>
			</div>
		
		<% end %>
		
	  </div>
	  
	<% end %>

<% if user_signed_in? %>
<%= link_to 'New Map', new_map_path, :class => 'btn btn-primary' %>
<% else %>
	<%= link_to "Signup to create a map!", new_user_registration_path, :class => 'btn btn-primary' %>	
<% end %>


