<h1>Public Maps</h1>

	<%= form_tag(maps_path, :method => "get", id: "search-form") do %>
	  <div class="field form-group">
		  <%= text_field_tag :search, params[:search], placeholder: "Search Maps", :class => 'form-control', :id => 'maps-search' %>
	  </div>
	  <div class="field form-group">		  
		  <%= submit_tag "Search", :class => 'btn btn-primary', :id => 'maps-search-submit-btn' %>
	  </div>
	<% end %>

	
	<% @public.limit(8).each_slice(4) do |map| %>
	
	  <div class='row'>
	  
		<% map.each do |map| %>
		
			<div class="col-lg-3 map-container">
				<div class="map-inner">
					<div><%= map.name %></div>
					<%= link_to 'Show', map, :class => 'btn btn-success btn-xs' %> 
				</div>
				<div class="map-inner-username">by: <%= map.user.username %></div>
			</div>
		
		<% end %>
		
	  </div>
	  
	<% end %>

<% if user_signed_in? %>
<h1>My Maps</h1>
<table class="table">
	
  <thead>
	<tr>
	  <th>Name</th> 
	  <th>Description</th>	  
	  <th>Edit</th>
	</tr>
  </thead>
<% end %>
	   
  <tbody>
  
  <% @maps.each do |map| %>
    <% if user_signed_in? && map.user_id == current_user.id %>  
      <tr>
	    <td><%= map.name %></td> 
	    <td><%= map.description %></td>		
			
	    <td><%= link_to 'Show', map, :class => 'btn btn-success btn-xs' %>				
        <%= link_to 'Edit', edit_map_path(map), :class => 'btn btn-info btn-xs' %>
        <%= link_to 'Delete', map, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></td>	

	  </tr>
    <% end %> 
  <% end %>  
  </tbody>	  
</table>			
	  

<br>

<% if user_signed_in? %>
<%= link_to 'New Map', new_map_path, :class => 'btn btn-primary' %>
<% else %>
	<%= link_to "Signup to create a map!", new_user_registration_path, :class => 'btn btn-primary' %>	
<% end %>


