<!DOCTYPE html>
<html>
<head>
  <title>Mappy</title>
  <%= stylesheet_link_tag    'js-mindmap/js-mindmap', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'%>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js'%>   
  <%= javascript_include_tag 'js-mindmap/js-mindmap', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js-mindmap/raphael-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js-mindmap/script', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js-mindmap/twitter', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js-mindmap/twitter-trends', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <style>
  
	 <%= render partial: "style" %>  
	 
  </style>
</head>
<body>
	
	<%= yield %>	

</body>
</html>
