<!DOCTYPE html>
<html>
<head>
  <title>Mappy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <%= stylesheet_link_tag    'js-mindmap/js-mindmap', media: 'all' %>  
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'%>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js'%>   
  <%= javascript_include_tag 'js-mindmap/js-mindmap' %>
  <%= javascript_include_tag 'js-mindmap/raphael-min' %>
  <%= javascript_include_tag 'js-mindmap/script' %>

  <%= csrf_meta_tags %>
  
  <style>  
	 <%= render partial: "style" %>	 
  </style>
  
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="<%= maps_path %>"><%= image_tag "logo.png" %></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">			
			<li><%= link_to "Home", maps_path %></li>
			<li><%= link_to "About", public_about_path %></li>
			<li><%= link_to "Contact", public_contact_path %></li>		
		  </ul>
		  
		  <ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
			<li><%= link_to "Edit", :action => 'edit', :id => @map.id %></li>
			<li><%= link_to "Download", :action => 'download', :id => @map.id%></li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>							
				<ul class="dropdown-menu">					
					<li><%= link_to "My Maps", my_maps_path %></li>
					<li><%= link_to "Account", edit_user_registration_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				</ul>
				
			</li>
			
			<% else %>
			
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
				<ul class="dropdown-menu">
					
					<li><%= link_to "Download", :action => 'download', :id => @map.id %></li>
					<li><%= link_to "Signup", new_user_registration_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
				</ul>
			</li>
			
			<% end %>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	
	
	<%= yield %>	

</body>
</html>
